<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<p>
  <strong>Method:</strong>
  <%= @payment.method %>
</p>

<p>
  <strong>Debt:</strong>
  <%= @payment.debt_id %>
</p>

<p>
  <strong>Debtor:</strong>
  <%= @payment.debtor_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @payment.user_id %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
